* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #351c75;
    --secondary-color: #a191c9;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--secondary-color);
}

#timer {
    margin: 0 25px 0 0;
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.welcome {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.buttons {
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80%;
    padding: 10px;
    color: white;
    margin: 5px 0 5px 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color);
}

#listitem {
    list-style: none;
    visibility: hidden;
}

#instructions {
    font-weight: bold;
    font-size: 18px;
}

.hide {
    display: none;
}

#display-1 {
    border-top: 3px solid gray;
    margin-top: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 80%;
    font-size: 24px;
}

#display-2 {
    border-top: 3px solid gray;
    margin-top: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 80%;
    font-size: 24px;
}

#submit-btn {
    width: 60%;
    padding: 10px;
    color: white;
    margin: 5px 0 5px 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.done {
    font-weight: bold;
    font-size: 36px;
}

#score {
    font-size: 18px;
    font-weight: bold;
}

.int {
    font-size: 18px;
    font-weight: bold;
}

#win {
    font-weight: bold;
    font-size: 36px;
}

#go-back {
    display: inline;
    /* width: 60%; */
    padding: 10px;
    color: white;
    margin: 5px 0 5px 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

#reset {
    display: inline;
    /* width: 60%; */
    padding: 10px;
    color: white;
    margin: 5px 0 5px 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

#final {
    height: 30px;
}